/*
 * background : #243b5a
 * background 2 : #44566c
 * fg : #203961
 * fg 2 : #363636
 * text : #94bdff
*/

body {
    background-color: #2f435e;
    font-family: 'Outfit';
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.identity {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 2%;
    display: flex;
    max-width: 40%;
}

.img-logo {
    width: 200px;
}

.identity_txt {
    display: block;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.identity_name {
    font-size: 40px;
    margin: 0;
    margin-top: auto;
    color: #7a7cc7;
}

.identity_descc {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    color: #94bdff
}

.identity_sketch {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    text-align: justify;
    color: #94bdff
}

.search_bar {
    background-color: #44566c;
    width: 40%;
    height: 50px;
    margin-top: 70px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 0;
    font-size: 22px;
    color: #94bdff;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 0 20px;
}

.search_bar::placeholder {
    color: #607ca8;
  }

.image {
    object-fit: cover;
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 0;
    border-radius: 15px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2%;
}

.content_button {
    background-color: #44566c;
    height: 50px;
    border-radius: 15px;
    font-size: 22px;
    color: #94bdff;
    border: 0;
    transition: all 0.1s ease-in-out; 
}

.content_button:hover {
    background-color: #536984;
}

.content_upload_txt {
    font-size: 20px;
    color: #94bdff;
    cursor: default;
    transition: all 0.1s ease-in-out; 
}

.content_upload_txt:hover {
    transform: scale(1.1);
}
